*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*--------------Homepage-------------------*/

html{
  font-family: PT sans;
}
  nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
  }

  .logo {
  display: flex;
  align-items: center;
  width:25%;
  background-color: #F5005B;
  height:120px;
  padding-left: 10px;
  min-width: 115px;
  max-width: 115px;
  }

  .logo img{
    height: 100px;
  }

  .nav-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width:75%;
  text-align: center;
  list-style: none;
  }

.nav-row a{
  color:white;
  text-decoration: none;
  font-family: PT sans;
  font-size: 12px;

}
.nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

}

.nav-item1{
  background-color: #00a5bf;
}

.nav-item2{
  background-color: #00b7d3;
}

.nav-item3{
  background-color: #00d5e7;
}

.section_container1{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  line-height: 1.5;
}

h1{
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.watch h2{
  background-color: #0b1942;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: lighter;
  padding-left: 20px;
}

.watch p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
}

.take_notes h2{
  background-color: #0b1942;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: lighter;
  padding-left: 20px;
}

.take_notes p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
}

.meetup h2{
  background-color: #0b1942;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: lighter;
  padding-left: 20px;
}

.meetup p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
}

.section_container2{
  background-color: #0b1942;
  width: 100%;
  padding-bottom: 20px;
}

.section_container2 h2{
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: lighter;
  padding-left: 20px;

}

.poster-container1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #e2e2e2;
  margin: 20px;
}

.rashomon_info{
margin-right: 20px;
margin-top: 20px;
margin-bottom: 20px;
line-height: 1.5;
width: calc( 50% - 20px);
}

.rashomon_info p{
  font-size: 15px;
  border-bottom: thin solid black;
}

.rashomon_info ul{
  list-style:circle;
  margin-top: 20px;
}

.rashomon_info a{
  font-size: 20px;
  color: #16bbd4;

}
.rashomon_poster{
  background-image: url(../images/images/rashomon-poster.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width:50%;
  height:200px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.poster-container2{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #e2e2e2;
  margin: 20px;
}

.poster{
  width: calc(50% - 20px);
  margin:10px;
  line-height: 2;
}

.poster a{
  color:#58c2d7;
}
.poster img{
  width: 100%;
}

footer {
display: flex;
flex:1;
flex-wrap: wrap;
flex-direction: column;
width:100%;
text-align: center;
list-style: none;
}

.footer-row a{
color:white;
text-decoration: none;
font-family: PT sans;
font-size: 12px;
}

.footer-row .nav-item{
  padding:8px;
}
.copywrite{'
display: flex;
  flex:1;
  width:100%;
  color: white;
  background-color: #7ddfe8;
  font-size: 12px;
  padding:25px;

}

/*tablet layout home page*/
@media screen and ( min-width: 544px) {



  .nav-row{
  display:flex;
  flex-direction: row;
  text-align: center;
  background-color: #7ddfe8;
  width: 100%;


  }

  .nav-item {
    width: 20%;
    flex: none;
  }

  .section_container1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;


  }
  .watch, .take_notes, .meetup{
    margin: 10px;
  width: 30%;
  }

  .rashomon_poster{
    height: 300px;
    margin-top:10px;
  margin-bottom:10px;
  margin-left: 10px;
  }

  .rashomon_info{
    width: calc(40% - 20px);
    float: right;
}


.poster-container2{
  display: flex;
  flex-wrap: nowrap;
}

.poster{
  width: 25%;
  font-size: 15px;
}

footer{
  flex-direction: row;

}
.footer-row{
  flex:1;
  display: flex;
}

.footer-row .nav-item{
  flex:1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:50px;
}


.copywrite{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

}

/*Home Desktop*/

@media screen and (min-width: 769px) {

.section_container2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
h2{
  width: 100%;
}

.poster-container1{
  display: flex;
  flex:1;
  height: 50%;
}

.rashomon_info{
  margin:20px;
}


.poster-container2{
  display: flex;
  flex-wrap: wrap;
  flex:1;
}

.poster{
  width: calc(50% - 20px);
  margin:10px;
  line-height: 2;
}
}

/*-------------------calendar-----------------*/

.cal-title{
  color: white;
  font-weight: lighter;
  margin:15px;
  width: 100%;
  font-size: 20px;

}

.month{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0b1942;
}

.days ul{
  display: flex;
  flex-wrap: wrap;
  background-color:  #0b1942;
  color:white;
  font-size: 10px;
  padding-bottom:30px;
}

.days li{
background-color: #0b1942;
padding-left: 5px;
padding-top:5px;
height:20px;
width:20px;

}

.box{
  background: white;
  width: 50px;
  height: 50px;
  list-style: none;
  border: 1px solid #0b1942;
}

.active{
  background-color: #f5005b;
  width: 50px;
  height: 50px;
  list-style: none;
  border: 1px solid #0b1942;
}

/*-------------calendar tablet----*/

@media screen and (min-width: 544px) {

.box{
  height: 80px;
  width: 80px;
}

.active{
  height: 80px;
  width: 80px;
}

.copywrite{
text-align: right;
padding-right: 0;
padding-left: 100px;
}
}

/*-------------calendar desktop----*/

@media screen and (min-width: 769px) {


  .box{
    height: 100px;
    width: 100px;
  }

  .active{
    height: 100px;
    width: 100px;
  }
